spring.datasource:
  driverClassName: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost:3306/test
  username: name
  password: password
  schema: test

graphite:
  prefix: test
  url: http://192.168.99.100
  port: 2003
